body {
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo, .symmetric-image {
    margin: 0 15px;
    height: 25px;
    width: auto;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #ddd;
}
nav a:nth-child(4) { 
    color: #129AFE;
}
nav a:last-child { 
    color: #129AFE;
    background-color: transparent;
    border: 1px solid #129AFE;
}
nav a:last-child:hover {
    background-color: #129AFE;
    color: white;
}
.middle {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.global {
    text-align: center;
    font-family: Abel;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;  
}
.blue-text {
    color: #129AFE; 
}
.botowtext {
    text-align: center;  
    max-width: 90%;     
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
    outline: none;
}
.search-btn {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #129AFE;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.search-btn:hover {
    background-color: #e1e1e1;
}
.search-container {
    position: relative;
}
.suggestions {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0; 
    width: calc(100% - 2px); 
    border: 1px solid #ccc;
    z-index: 2;
    background-color: #fff;
}
.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f7f7f7;
}
.suggestion-item_1{
    color:#129AFE;
}
.custom-table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
    border: none; 
}
.custom-table td {
    border: none; 
    padding: 20px;
    text-align: center;
    width: 395px;
    height: 240px;
    box-shadow: 3px 3px 5px white;
}
.custom-table tr {
    border: none; 
}
.custom-table h2 {
    margin-top: 0; 
    font-family: Abel;
    font-size: 32px;
    font-style: normal;
    text-align: left;
}
.custom-table {
    box-shadow: 5px 5px 10px white;
}
.custom-table p{
    text-align: left;
}
.litle{
    color:  #129AFE;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.32px;
    text-align: left;
}
.quest{
    text-align:center;
    color: var(--text-headlines-oxford-blue, #000D40);
    text-align: center;
    font-family: Abel;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; 
   
}
.answ{
    text-align:center;
    color:  #000D40;
    font-family: Abel;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    text-align: center;
}
.pharag {
    text-align: left; /* Це гарантує, що блок вирівняний зліва */
    width: 70%; 
}
.pharag p {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    margin-left: 440px; 
    margin-right: 20px;
    
}
.Blur{
    color:  #129AFE;
    font-family: Abel;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
   
}
.small{
    color:  #5C6485;
    font-family: Abel;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;  
}
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;           
    width: 100vw;           
}
.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.large-circle {
    position: absolute;
    width: 150%; 
    height: 150%;
    background-color: #000D40;
    top: 60%;
    border-radius: 50%;
    bottom: -25%; 
    z-index: -1; 
}
.Illustration {
    z-index: 1;
}
.cnt{
    margin-left: 45% ;
    padding: 10px 15px;
    background-color: #129AFE;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.cnt:hover{
    background-color: #2f83b3;
}
.textt{
    color: #FFF;
    text-align: center;
    font-family: Abel;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; 
}
.info-table .first {
    vertical-align: top; 
    text-align: left;
}

.info-table .first img.botowlog {
    display: inline-block; 
    margin-right: 10px; 
}

.info-table .first p:first-of-type {
    display: inline-block;
}

.info-table td:not(.first) {
    text-align: left;
}

.info-table .first p:last-of-type {
    display: block; 
    margin-top: 50px;
}

.info-table h3 {
    color:  #FFF;
    font-family: 'Aleo', sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-top: 0;
}

.info-table p{
    color:  #FFF;
    font-family: Aleo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-align: left;
}

.info-table {
    width: 100%; 
    border-collapse: collapse; 
    text-align: center; 
    margin: 10px 0;
}

.info-table td {
    padding: 20px;
}

.botowlog {
    display: block; 
    margin-left: 0;  
    width: 30px; 
}

.NTF {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
    outline: none; 
}


